*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
}

.container{
    height: fit-content;
    margin: 15px;
}

.greeting-container{
    height: calc(100dvh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content:space-between;
    margin-bottom: 15px;
}

#logo-container{
    display: flex;
}

#logo{
    height: 60px;
    display: inline;
}

div#brand-name{
    color: whitesmoke;
    text-align: center;
    padding: 20px 0px 20px 20px;
}

#search-box{
    padding: 10px;
    display: inline-flex;
    gap: 10px;
}

#search-box > #location{
    padding: 10px;
    border-radius: 10px;
}

#search-box > button{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    padding: 5px;
}

div.weather-info-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
}

div.weather-card{
    border-radius: 25px;
    color: white;
}

div.weather-info-main{
    background-color: royalblue;
    box-shadow: 5px 5px 5px 5px black;
    padding: 20px;
    transition: transform 0.3s ease;
}

div.weather-info-main:hover{
    transform: scale(0.99);
}

div.weather-info-astronomy{
    padding: 50px;
    /* background: rgb(255,215,0); */
    /* background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(0,206,209,1) 50%, rgba(255,99,71,1) 100%); */
    background: linear-gradient(to right,  #808fff, #100088);
    box-shadow: 5px 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

div.weather-info-astronomy:hover{
    transform: scale(0.975);
}

div.weather-info-astronomy div h2{
    text-align: center;
}

h3 span{
    display: block;
    text-align:center;
}

/* div.weather-info-forecast{
    background-color: rgb(41, 41, 41);
    grid-row: span 2;
    visibility:hidden;
} */

div.weather-into-forecast{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row: span 3;
}

div.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.weather-condition{
    text-align: center;
}

.condition{
    height: 100px;
}

div.weather-condition-image-container{
    padding: 20px;
}

div.weather-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

p.temperature{
    font-size: 7rem;
    font-weight: bold;
    margin: 20px 0px;
}

div.other-conditions{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

div.other-conditions div span{
    display: block;
    margin: 5px;
}

@media (max-width:500px) {
    p.temperature{
        font-size: 5rem;
    }
}